html, body {
  margin:  0px;
  padding: 0px;
}

body {
  height: 100vh;
}

#root {
  min-height: 100vh;
  height: auto;
}

#footer {
  min-height: 10vh;
}

#tech-img {
  min-height: 30vh;
  background: url('/media/more_generic_tech.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

#gitlab {
  background: url('/media/generic_tech.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

#articles > :nth-child(2n) {
  flex-direction: row-reverse;
}

.article-row {
  margin: 1em -15px; /* -15px to not overwrite the bootstrap margins*/
}

.article-image {
  min-height: 30vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.App {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.App > * {
  flex-grow: 0;
}

.App > :nth-child(2){
  flex-grow: 1;
}
