.cv-wrapper {
  font-size: 11px;
  /* font-family: 'Montserrat', sans-serif; */
}

.cv-wrapper .cv-bottom {
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-between;
}


.section-title {
  text-transform: uppercase;
  font-weight: 100;
}

.employer, .title {
  font-weight: 500;
  font-size: 1.2em
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

p {
  margin-bottom: 0px;
}

.print > .cv-wrapper {
  font-size: 8px;
  font-weight: 100;
}



.user-information-section {
  background: white;
  padding: 15px;
  border: 0;
  border-bottom: 1px dashed #ccc;
}

.user-information-section .section-title {
  display: none;
}

.user-information-section .name {
  font-size: 3em;
  font-family: 'Aleo', serif;
}

.user-information {
  display: flex;
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;

}

.user-information-title {
  flex-basis: 200px;

}

.user-information .info {
  flex-basis: 100px;

}

.user-information .info div {
  display: flex;

}

.user-information .info div .key {
  width: 50px;
  font-weight: bold;

}

.user-information .info div .value {
  flex-grow: 3;
  margin-bottom: 5px;

}

.user-information .name {
  flex-grow: 3;

}

.user-information-urls .value {
  flex-direction: column;
}


.experience-section {
  background: white;
  padding: 15px;
  border-bottom: 1px dashed #ccc;
}

.experience {
 display: flex;
 justify-items: stretch;
 align-items: baseline;
 margin-bottom: 20px;
}

.print .experience .description {
  flex-basis: 300px;
}


.experience .devider {
  flex-basis: 200px;
  margin: 10px;
}

.experience .devider p {
  margin-bottom: 0px;
}

.experience .description {
  /* flex-grow: 1; */
  margin: 0px;
  flex-basis: 400px;

}

.project-section {
  background:white;
  padding: 15px;
  border-bottom: 1px dashed #ccc;
}

.project {
  display: flex;
  justify-items: stretch;
  align-items: baseline;
  margin-bottom: 20px;
 }

.project .devider {
  min-width: 150px;
  margin: 10px;
}

.education-section {
  background:white;
  padding: 15px;
  /* min-width: 200px; */
  flex-basis: 200px;
  flex-grow: 1;
  border-right: 1px dashed #ccc;

}


.education {
  margin: 10px;
  margin-bottom: 20px;
}

.education.description {
  margin: 0px;
}

.education .devider {
  /* min-width: 150px; */
  margin: 10px;
}
        
.skill-section {
  background: white;
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
  border-right: 1px dashed #ccc;
}

.certificate-section {
  background:white;
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
}

@media only screen and (max-width: 575px) {
  .cv-wrapper .cv-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
  }
}